@import "bootstrap-sprockets";
@import "bootstrap";


.coffeebox {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding:20px;
  opacity: 0.85;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
 
  background: url('/assets/seamlessbeans.jpg');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 70px;


}

.navbar.navbar-default { 
background: url('/assets/cheap_diagonal_fabric.png');
boarder-radius: 0;
box-shadow: 0px 1px 5px #2a2a2a;
opacity: 0.95;
margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: #160309; 
  opacity: 1;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  }

  .paginate{
    color: white;
  }

  .field_with_errors {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding:8px;
  }

  
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 300px;
        opacity: 1;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;

      }

.coffeebox2 {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding:20px;
  opacity: 1;
}

.clear {
 clear: both;
}
  
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 550px;
    width: 100%;
   
}


.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    left:0;
    width: 100%;
}

.carousel {
 
  padding-bottom: 0px;
}

.white {
 color: #ffffff;
 text-decoration: underline;
 }


* {
 margin: 0;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
}

.awesomefooter, .push {
    height: 5em; 
}
.awesomefooter {
/*background: url('/assets/cheap_diagonal_fabric.png');*/
padding-top: 1em;

}

.mike a {
  color: #fff;
}

@media screen and (max-width:480px) {  
  .awesomefooter {
    display: none;
  }
}
  
