


<% @places.each do |place| %>

<div class ="coffeebox col-xs-6 col-xs-offset-3">
  <h1><%= place.name %></h1>
  <i><%= place.address %></i><br/><br/>
  <p><%= place.description %></p><br/>  
</div>

<br/>

<footer class = "paginate navbar navbar-fixed-bottom col-xs-7 col-xs-offset-5">

<%= paginate @places %>
</footer>

<% end %> 
